@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #F8B4AB;
}

.listhl h1{
  font-size: 30px;
  margin-top: 10px;
  color: #2F4248;
  text-transform: uppercase;
  margin-left: 10px;
}

a{
  text-decoration: none;
  color: #2F4248;
}

li{
  list-style: none;
  margin-top: 10px;
  background: rgba(0,0,0,0);
  transition-property: background, color;
  transition: 0.3s ease;
  padding: 0px 0px 0px 10px;
  font-size: 17px;
}

li:hover{
  cursor: pointer;
  background: #76AC9E;
  color: #F6EAD4;
}

.button{
  margin-top: 100px;
  text-align: center;
}

.rbtn{
  border-radius: 30px;
  padding: 0px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  background-image: url('https://64.media.tumblr.com/00ae735bad49180027bcea16c1051d85/tumblr_py870tIpE71uzwgsuo1_400.gifv');
  background-size: cover;
  color: white;
}
