@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: #2F4248;
}

.header{
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #F6DDBE;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  justify-content: space-between;
  flex-shrink: 1;
}

.imglogo{
  height: 60px;
  margin-top: 10px;
}
